# CMAKE_ARGS="-DLLAMA_CUBLAS=on -DCMAKE_CUDA_ARCHITECTURES=all-major" FORCE_CMAKE=1 pip install llama_cpp_python==0.2.67 --no-cache-dir --force-reinstall --upgrade
# llama_cpp_python 
pandas
matplotlib
tqdm
transformers
pytest

# Wikipedia handler
bs4
lxml
html5lib

# Parquet
pyarrow
fastparquet

# Translate
sentencepiece
sacremoses

# Torch, make sure to replace cpu if want to use gpu
--extra-index-url https://download.pytorch.org/whl/cpu
torch
torchvision
torchaudio