# CMAKE_ARGS="-DLLAMA_CUBLAS=on -DCMAKE_CUDA_ARCHITECTURES=all-major" FORCE_CMAKE=1 pip install llama_cpp_python==0.2.67 --no-cache-dir --force-reinstall --upgrade
pandas
pyarrow
fastparquet
matplotlib
tqdm
transformers

--extra-index-url https://download.pytorch.org/whl/cu113
torch==1.12.1+cu113
torchvision==0.13.1+cu113
torchaudio==0.12.1