ctransformers --no-binary ctransformers
transformers
pandas
numpy
sentencepiece
sacremoses
tensorflow_probability
pyarrow
fastparquet
tensorflow
llama-cpp-python


--extra-index-url https://download.pytorch.org/whl/cpu
torch
torchvision
torchaudio

